<div id='product-component-1630110717972'></div>
<script type="text/javascript">
/*<![CDATA[*/
(function () {
  var scriptURL = 'https://sdks.shopifycdn.com/buy-button/latest/buy-button-storefront.min.js';
  if (window.ShopifyBuy) {
    if (window.ShopifyBuy.UI) {
      ShopifyBuyInit();
    } else {
      loadScript();
    }
  } else {
    loadScript();
  }
  function loadScript() {
    var script = document.createElement('script');
    script.async = true;
    script.src = scriptURL;
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(script);
    script.onload = ShopifyBuyInit;
  }
  function ShopifyBuyInit() {
    var client = ShopifyBuy.buildClient({
      domain: 'apocketfullofdreams.myshopify.com',
      storefrontAccessToken: '9f1ca0bb03afb1dc363405d48407bb06',
    });
    ShopifyBuy.UI.onReady(client).then(function (ui) {
      ui.createComponent('product', {
        id: '6745905856718',
        node: document.getElementById('product-component-1630110717972'),
        moneyFormat: '%24%7B%7Bamount%7D%7D',
        options: {
  "product": {
    "styles": {
      "product": {
        "@media (min-width: 601px)": {
          "max-width": "calc(25% - 20px)",
          "margin-left": "20px",
          "margin-bottom": "50px"
        }
      },
      "button": {
        "border-radius": "13px",
        "padding-left": "68px",
        "padding-right": "68px",
        "background-color": "#8ba17f",
        ":hover": {
          "background-color": "#7d9172"
        },
        ":focus": {
          "background-color": "#7d9172"
        },
        "font-family": "Avant Garde, sans-serif",
        "font-size": "18px",
        "padding-top": "17px",
        "padding-bottom": "17px",
        "margin": "0 auto 50px auto",
      },
      "quantityInput": {
        "font-size": "18px",
        "padding-top": "17px",
        "padding-bottom": "17px"
      }
    },
    "contents": {
      "img": false,
      "title": false,
      "price": false
    },
    "buttonDestination": "checkout",
    "text": {
      "button": "Buy now"
    }
  },
  "productSet": {
    "styles": {
      "products": {
        "@media (min-width: 601px)": {
          "margin-left": "-20px"
        }
      }
    }
  },
  "modalProduct": {
    "contents": {
      "img": false,
      "imgWithCarousel": true
    },
    "styles": {
      "product": {
        "@media (min-width: 601px)": {
          "max-width": "100%",
          "margin-left": "0px",
          "margin-bottom": "0px"
        }
      },
      "button": {
        "border-radius": "13px",
        "padding-left": "68px",
        "padding-right": "68px",
        "background-color": "#8ba17f",
        ":hover": {
          "background-color": "#7d9172"
        },
        ":focus": {
          "background-color": "#7d9172"
        },
        "font-family": "Avant Garde, sans-serif",
        "font-size": "18px",
        "padding-top": "17px",
        "padding-bottom": "17px"
      },
      "quantityInput": {
        "font-size": "18px",
        "padding-top": "17px",
        "padding-bottom": "17px"
      }
    }
  },
  "option": {},
  "cart": {
    "styles": {
      "button": {
        "border-radius": "13px",
        "background-color": "#8ba17f",
        ":hover": {
          "background-color": "#7d9172"
        },
        ":focus": {
          "background-color": "#7d9172"
        },
        "font-family": "Avant Garde, sans-serif",
        "font-size": "18px",
        "padding-top": "17px",
        "padding-bottom": "17px"
      }
    }
  },
  "toggle": {
    "styles": {
      "toggle": {
        "background-color": "#8ba17f",
        ":hover": {
          "background-color": "#7d9172"
        },
        ":focus": {
          "background-color": "#7d9172"
        },
        "font-family": "Avant Garde, sans-serif"
      },
      "count": {
        "font-size": "18px"
      }
    }
  }
},
      });
    });
  }
})();
/*]]>*/
</script>
